<!-- ===============================
 Community Section 
================================== -->
<section class="bg-[#E6FDE2] rounded-2xl md:rounded-large">
  <div class="container relative z-10 overflow-hidden">
    <div
      class="flex flex-col-reverse md:flex-row gap-y-10 items-center justify-evenly rounded-large max-md:py-8 md:pt-24 md:pb-[43px]"
    >
      <div class="relative">
        <!-- Image Section -->
        <figure class="relative">
          <img
            src="images/thumbnail/community.png"
            alt="Mobile app interface showing finance features"
            class="hidden md:block"
          />
          <img
            src="images/thumbnail/community-small.png"
            alt="Mobile app interface showing finance features"
            class="block md:hidden"
          />
        </figure>
        <img
          src="images/icons/coins.png"
          alt="Mobile app interface showing finance features"
          class="absolute -top-24 -right-12 md:-right-[70px] -z-20"
        />

        <!-- Badge Box -->

        <div
          class="inline-block absolute -left-8 md:-left-[103px] -bottom-[3.5rem]"
        >
          <img
            src="images/thumbnail/overall-status.png"
            alt="overall-status"
            class="hidden md:block"
          />
          <img
            src="images/thumbnail/overall-status-small.png"
            alt="overall-status"
            class="block md:hidden"
          />
        </div>
      </div>

      <!-- content -->
      <div>
        <figure class="bg-primary size-8 p-[6px] rounded-lg mb-2.5">
          <img src="images/icons/send.svg" alt="money-send" />
        </figure>
        <!-- Main Heading -->
        <h2 class="mb-4 md:mb-5">
          Share the Love, Earn <br class="hidden md:block" />
          Rewards. It’s that easy!
        </h2>

        <!-- Description -->
        <p
          class="text-base font-normal leading-[1.6] mb-6 md:mb-[34px] max-w-[567px]"
        >
          Spread the word about our app and reap the benefits! When you
          <br class="hidden md:block" />
          refer friends, family, or colleagues, both you and your referrals earn
          amazing <br class="hidden md:block" />
          rewards. From cash bonuses to exclusive perks, there’s no limit to
          what you can gain by sharing the power of our platform. The more
          people you invite, the bigger your earnings—because everyone loves a
          win-win situation.
        </p>

        <!-- CTA Button -->
        <ul class="inline-block">
          <li class="btn-dark">
            <a href="#" class="text-sm font-medium leading-[1.6]"
              >Download App</a
            >
            <img src="images/icons/receive-square.svg" alt="icon" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
