<!-- ===============================
 Community Section 
================================== -->
<section
  class="bg-[#E6FDE2] rounded-3xl md:rounded-large overflow-hidden"
  id="refer-earn"
>
  <div class="container relative z-10 overflow-hidden">
    <div
      class="flex flex-col-reverse lg:flex-row gap-y-10 gap-x-6 xl:gap-x-0 items-center sm:items-start md:items-center justify-evenly rounded-large max-md:py-8 md:py-14 lg:pt-24 lg:pb-[43px]"
    >
      <div class="relative">
        <!-- Image Section -->
        <figure class="relative reveal-image">
          <img
            src="images/thumbnail/community.png"
            alt="Mobile app interface showing finance features"
            class="hidden xl:block"
          />
          <img
            src="images/thumbnail/community.png"
            alt="Mobile app interface showing finance features"
            class="block xl:hidden"
          />
        </figure>
        <img
          src="images/icons/coins.png"
          alt="Mobile app interface showing finance features"
          class="absolute -top-24 -right-12 md:-right-[70px] -z-20 reveal-me"
        />

        <!-- Badge Box -->

        <div
          class="inline-block absolute -left-8 md:-left-[103px] lg:-left-8 xl:-left-[103px] -bottom-[3.5rem] reveal-me"
        >
          <img
            src="images/thumbnail/overall-status.png"
            alt="overall-status"
            class="w-[70%] md:w-[80%] xl:w-full"
          />
        </div>
      </div>

      <!-- content -->
      <div class="lg:pl-4 xl:pl-0 md:place-self-end lg:place-self-auto">
        <div class="flex justify-end">
          <figure class="bg-primary size-8 p-[6px] rounded-lg mb-2.5 reveal-me">
            <img src="images/icons/send.svg" alt="money-send" />
          </figure>
        </div>
        <!-- Main Heading -->
        <h2 class="mb-4 md:mb-5 arabic-text text-right reveal-me-2">
          دعوة الأصدقاء، كسب<br class="hidden lg:block" />
          المكافآت
        </h2>

        <!-- Description -->
        <div class="flex justify-end">
          <p
            class="text-base font-normal arabic-text text-right leading-[1.6] mb-6 md:mb-[34px] max-w-[567px] reveal-me"
          >
          انشر الكلمة واكسب مكافآت عندما ينضم إحالاتك ويستخدمون التطبيق. كلما شاركت أكثر، كلما ربحت أكثر.
          </p>
        </div>

        <!-- CTA Button -->
        <div class="flex justify-end">
          <ul class="inline-block reveal-me">
            <a href="#">
              <li
                class="bg-paragraph hover:bg-primary border border-inherit hover:border hover:border-[#a6a66433] flex items-center gap-1 py-2.5 rounded pl-6 pr-[18px] group transition-all duration-500 ease-in-out"
              >
                <div
                  class="text-sm font-medium leading-[1.6] mr-2 relative overflow-hidden inline-flex flex-col h-6"
                >
                  <span
                    class="group-hover:-translate-y-full arabic-text transition-transform duration-500 ease-in-out text-primary"
                  >
                    انضم الآن
                  </span>

                  <span
                    class="absolute inset-0 translate-y-full arabic-text group-hover:translate-y-0 transition-transform duration-500 ease-in-out"
                  >
                    انضم الآن
                  </span>
                </div>
                <!-- Icon -->
                <span>
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 12L10 8L6 4" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                </span>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
