<section class="overflow-hidden">
  <div
    class="relative max-w-full max-md:mx-4 md:max-w-[calc(100%-20px)] lg:max-w-[90%] 2xl:max-w-[75%] mx-auto min-h-[251px] md:min-h-[249px] rounded-3xl bg-gradient-to-r from-[#020500] from-[5%] via-[#21A90A] to-[#020500] flex items-center align-middle justify-center p-8 md:p-12 lg:p-16 xl:p-20 reveal-me"
  >
    <div class="absolute inset-0 z-0 opacity-70 hidden md:block">
      <img
        src="images/icons/0101-bg.svg"
        alt=""
        class="absolute top-1/2 left-1/2 -translate-x-1/2 z-10 -translate-y-1/2 w-full h-full"
      />
      <img
        src="images/icons/Vector.png"
        alt=""
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover w-full h-full"
      />
    </div>
    <div class="relative z-50 text-center">
      <h2
        class="mb-[22px] max-sm:text-[29px] md:mb-6 font-semibold arabic-text text-center text-primary max-sm:max-w-[297px]"
      >
        تمويل مصمم للسوريين. من<br class="hidden md:block" />قبل السوريين.
      </h2>

      <p
          class="text-base mx-auto text-white font-normal leading-[1.6] mb-6 md:mb-[34px] lg:max-w-[500px] reveal-me"
        >
          انضم إلى الحركة وتولى السيطرة على أموالك اليوم.
        </p>

      <ul class="inline-block">
        <a href="#">
          <li
            class="bg-primary group transition-all duration-500 border border-primary hover:border hover:border-paragraph ease-in-out hover:bg-paragraph flex items-center gap-1 py-2.5 rounded pl-6 pr-5"
          >
            <div class="relative overflow-hidden inline-flex flex-col">
              <span
                class="text-paragraph group-hover:text-primary group-hover:-translate-y-full arabic-text text-sm font-medium leading-[1.6] transition-transform duration-500 ease-in-out"
              >
                ابدأ اليوم
              </span>
              <span
                class="text-primary absolute translate-y-full arabic-text group-hover:translate-y-0 transition-transform duration-500 ease-in-out text-sm font-medium leading-[1.6]"
              >
                ابدأ اليوم
              </span>
            </div>

            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
              >
                <path
                  d="M6 12.5L10 8.5L6 4.5"
                  class="group-hover:stroke-white stroke-paragraph group-hover:translate-x-1 transition-transform duration-500 ease-in-out"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </li>
        </a>
      </ul>
    </div>
  </div>
</section>
