<section class="overflow-hidden reveal-me">
  <div
    class="relative max-w-full max-md:mx-4 md:max-w-[87%] lg:max-w-[90%] 2xl:max-w-[75%] mx-auto min-h-[251px] md:min-h-[340px] rounded-3xl bg-gradient-to-r from-[#020500] from-[5%] via-[#21a90a] to-[#020500] p-8 md:p-12 lg:p-16 xl:p-20"
  >
    <div class="absolute inset-0 z-0 opacity-70">
      <img
        src="images/icons/0101-bg.svg"
        alt=""
        class="absolute top-1/2 left-1/2 -translate-x-1/2 z-10 -translate-y-1/2 w-full h-full"
      />
      <img
        src="images/icons/Vector.png"
        alt=""
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover w-full h-full"
      />
    </div>
    <div class="relative z-50 text-center">
      <h2
        class="mb-[22px] md:mb-6 font-semibold text-primary max-sm:max-w-[297px]"
      >
        Ready to Experience the Future<br class="hidden md:block" />of Modern
        Finance?
      </h2>

      <ul class="inline-block">
        <li class="btn-light-v2">
          <a href="#" class="text-sm font-medium leading-[1.6]">Start Today</a>
          <img src="images/icons/chevron-right.svg" alt="Right arrow icon" />
        </li>
      </ul>
    </div>
  </div>
</section>
