<!-- ===================================
FAQ Section 
========================================-->

<section class="py-8 md:py-[120px]">
  <div class="container">
    <!-- Heading -->
    <div class="text-center">
      <div
        class="border bordert-[#E8EDE8] inline-block rounded px-2.5 py-[3px] mb-2.5 reveal-me bg-primary"
      >
        <span class="text-sm font-medium leading-[1.6] text-[#575757]"
          >FAQ</span
        >
      </div>
      <h2 class="mb-6 md:mb-[42px] reveal-me">Have Questions?</h2>
    </div>

    <!-- FAQ Items -->
    <div class="max-w-[966px] mx-auto lg:px-5 reveal-me">
      <div
        class="flex flex-col items-start gap-4 p-[6px] md:p-2 w-full rounded-2xl border border-[#f0f3f0]"
      >
        <!-- FAQ Item 1 -->

        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div class="flex items-center justify-between cursor-pointer">
            <h6 class="text-lg md:text-[23px] font-medium leading-[1.2]">
              Is Floos available outside Syria?
            </h6>

            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p class="max-md:text-sm max-md:leading-[1.6]">
              Not yet. Our services are currently only available for users inside Syria.
            </p>
          </div>
        </div>

        <!-- FAQ Item 2 -->

        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div class="flex items-center justify-between cursor-pointer">
            <h6 class="text-lg md:text-[23px] font-medium leading-[1.2]">
              Is there a fee for sending money?
            </h6>

            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content  max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p class="max-md:text-sm max-md:leading-[1.6]">
              No. Transfers are free between Floos users.
            </p>
          </div>
        </div>

        <!-- FAQ Item 3 -->

        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div class="flex items-center justify-between cursor-pointer">
            <h6 class="text-lg md:text-[23px] font-medium leading-[1.2]">
              How fast are transactions?
            </h6>

            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content  max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p class="max-md:text-sm max-md:leading-[1.6]">
              Transfers are usually instant, with real-time confirmations.
            </p>
          </div>
        </div>

        <!-- FAQ Item 4 -->

        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div class="flex items-center justify-between cursor-pointer">
            <h6 class="text-lg md:text-[23px] font-medium leading-[1.2]">
              Can I pause or limit transactions?
            </h6>

            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p class="max-md:text-sm max-md:leading-[1.6]">
              Yes. You can pause outgoing payments for added security.
            </p>
          </div>
        </div>

        <!-- FAQ Item 5 -->

        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div class="flex items-center justify-between cursor-pointer">
            <h6 class="text-lg md:text-[23px] font-medium leading-[1.2]">
              How do I create an account?
            </h6>

            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p class="max-md:text-sm max-md:leading-[1.6]">
              Register with a Syrian phone number and verify your identity, that simple.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
