<!-- ===================================
FAQ Section 
========================================-->

<section class="py-8 md:py-[120px]">
  <div class="container">
    <!-- Heading -->
    <div class="text-center">
      <div
        class="border bordert-[#E8EDE8] inline-block rounded px-2.5 py-[3px] mb-2.5 reveal-me bg-primary"
      >
        <span
          class="text-sm font-medium arabic-text leading-[1.6] text-[#575757]"
          >الأسئلة الشائعة</span
        >
      </div>
      <h2 class="mb-6 md:mb-[42px] arabic-text text-center reveal-me">
        هل لديك أسئلة؟
      </h2>
    </div>

    <!-- FAQ Items -->
    <div class="max-w-[966px] mx-auto lg:px-5 reveal-me">
      <div
        class="flex flex-col items-start gap-4 p-[6px] md:p-2 w-full rounded-2xl border border-[#f0f3f0]"
      >
        <!-- FAQ Item 1 -->

        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div
            class="flex flex-row-reverse items-center justify-between cursor-pointer"
          >
            <h6
              class="text-lg md:text-[23px] font-medium leading-[1.2] arabic-text text-right"
            >
              ما هي فوائد تطبيق محفظة التمويل مقارنة بمستشار مالي بدوام كامل؟
            </h6>

            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content mt-2.5 max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p
              class="max-md:text-sm max-md:leading-[1.6] arabic-text text-right"
            >
              تطبيق محفظة التمويل له فوائد رئيسية مقارنة بالمستشار بدوام كامل:
              تتبع النفقات في الوقت الفعلي، تكاليف أقل دون رسوم باهظة، واجهات
              سهلة الاستخدام، والتكامل مع أدوات مالية أخرى لرؤية كاملة لتمويلك.
            </p>
          </div>
        </div>

        <!-- FAQ Item 2 -->

        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div
            class="flex flex-row-reverse items-center justify-between cursor-pointer"
          >
            <h6
              class="text-lg md:text-[23px] font-medium arabic-text text-right leading-[1.2]"
            >
              ما هو الحد الأقصى لعدد المعاملات التي يمكنني إجراؤها في اليوم؟
            </h6>

            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content mt-2.5 max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p
              class="max-md:text-sm max-md:leading-[1.6] arabic-text text-right"
            >
              أموالك محمية بتشفير على مستوى البنوك، والمصادقة البيومترية،
              ومراقبة الاحتيال على مدار الساعة. نحن نستخدم نفس معايير الأمان
              التي تعتمدها المؤسسات المالية الكبرى. الإيداعات: فورية في معظم
              الطرق (تستغرق حتى ساعتين في التحويلات البنكية)
            </p>
          </div>
        </div>

        <!-- FAQ Item 3 -->
        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div
            class="flex flex-row-reverse items-center justify-between cursor-pointer"
          >
            <h6
              class="text-lg md:text-[23px] font-medium arabic-text text-right leading-[1.2]"
            >
              هل يمكنني سحب أموالي في أي وقت؟
            </h6>
            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content mt-2.5 max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p
              class="max-md:text-sm max-md:leading-[1.6] arabic-text text-right"
            >
              نعم، يمكنك سحب أموالك في أي وقت من خلال لوحة التحكم الخاصة بك.
              تعتمد مدة السحب على طريقة الدفع المستخدمة.
            </p>
          </div>
        </div>

        <!-- FAQ Item 4 -->
        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div
            class="flex flex-row-reverse items-center justify-between cursor-pointer"
          >
            <h6
              class="text-lg md:text-[23px] font-medium arabic-text text-right leading-[1.2]"
            >
              هل توجد رسوم على الإيداع أو السحب؟
            </h6>
            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content mt-2.5 max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p
              class="max-md:text-sm max-md:leading-[1.6] arabic-text text-right"
            >
              لا نفرض أي رسوم على الإيداع. ومع ذلك، قد يتم فرض رسوم من قبل البنك
              أو مزود الدفع عند السحب.
            </p>
          </div>
        </div>

        <!-- FAQ Item 5 -->
        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div
            class="flex flex-row-reverse items-center justify-between cursor-pointer"
          >
            <h6
              class="text-lg md:text-[23px] font-medium arabic-text text-right leading-[1.2]"
            >
              ما هي طرق الدفع المتاحة؟
            </h6>
            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content mt-2.5 max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p
              class="max-md:text-sm max-md:leading-[1.6] arabic-text text-right"
            >
              نوفر لك عدة خيارات للدفع تشمل التحويل البنكي، البطاقات البنكية،
              والمحافظ الإلكترونية مثل Apple Pay و PayPal.
            </p>
          </div>
        </div>

        <!-- FAQ Item 6 -->
        <div
          class="faq-item group p-[18px_20px_18px_24px] rounded-lg border border-[#e8ede8] w-full transition-all duration-500 overflow-hidden"
        >
          <div
            class="flex flex-row-reverse items-center justify-between cursor-pointer"
          >
            <h6
              class="text-lg md:text-[23px] font-medium arabic-text text-right leading-[1.2]"
            >
              هل بياناتي الشخصية آمنة؟
            </h6>
            <div
              class="inline-block rounded-full p-1 border border-[#E8EDE8] transform transition-transform duration-300 group-[.active]:rotate-180 group-[.active]:shadow-faq-icon-shadow group-[.active]:border-none"
            >
              <img src="images/icons/faq-arrow.svg" alt="icon" />
            </div>
          </div>
          <div
            class="faq-content mt-2.5 max-h-0 overflow-hidden transition-all duration-500 group-[.active]:max-h-[500px]"
          >
            <p
              class="max-md:text-sm max-md:leading-[1.6] arabic-text text-right"
            >
              نعم، نحن نلتزم بأعلى معايير الأمان ونستخدم بروتوكولات تشفير لحماية
              بياناتك الشخصية من الوصول غير المصرح به.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
