<footer class="pt-16 md:pt-[100px] relative overflow-x-hidden">
  <div class="container mx-auto reveal-me">
    <!-- Mobile Devices  -->

    <div class="block lg:hidden">
      <div class="flex md:gap-8 gap-[30px] justify-center sm:justify-evenly mb-5 md:mb-10">
        <div>
          <div>
            <h6
              class="text-lg arabic-text text-right font-bold leading-[1.6] mb-3"
            >
              أرسل
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
              <li class="group">
                <a
                  href="#"
                  class="text-sm arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >مركز الرفاهية المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >استراتيجيات الاستثمار</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >أدوات الميزانية</a
                >
              </li>

              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >الدعم المالي</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >متتبع النفقات</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >أدلة التوفير</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >المنزل والاستثمارات</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >دفتر الثروات</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >الأساسيات المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >خطط العضوية</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-6">
            <h6 class="text-lg font-bold leading-[1.6] arabic-text mb-3">
              أنفق
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >ميزات سهلة الاستخدام</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >مبادرات الثقافة المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.0]"
                  >ممارسات الاستثمار المستدامة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >المساواة والشمولية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >خصوصية البيانات والأمان</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >العدالة والإنصاف</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >الممارسات الأخلاقية</a
                >
              </li>
            </ul>
          </div>

          <div class="mt-6">
            <h6 class="text-lg font-bold leading-[1.6] mb-3 arabic-text">
              استلم
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >آخر الأخبار المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >تعرف على مستشارينا</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >انضم إلى فريقنا الاستشاري</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >استثمر في مستقبلك</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >النزاهة والأخلاق</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >الندوات القادمة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >تواصل معنا</a
                >
              </li>
            </ul>
          </div>

          <div class="mt-6">
            <h6 class="text-lg font-bold leading-[1.6] mb-3 arabic-text">
              أضف نقودًا
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >البودكاست المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >فيديوهات الاستثمار</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >الاستثمار الواعي</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >رؤى السوق</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >اجعل مدخراتك ممتعة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >دعم قائم على السحابة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >حزمة الرفاهية المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >بطاقة الاستثمار</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >قراءات مالية</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div>
          <div>
            <h6 class="text-lg font-bold leading-[1.6] mb-3 arabic-text">
              الدعم
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >جلسات الدعم</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >ورش العمل والندوات</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >الحياة في Floos</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >الرفاهية المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >خدمات مخفضة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >خطط الدفع</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >تداول أموالك</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >حالة الجلسة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >مركز المساعدة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >مركز المساعدة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >تواصل معنا</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-6">
            <h6 class="text-lg font-bold leading-[1.6] mt-8 mb-5 arabic-text">
              بطاقة
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >تعليم التمويل في المدارس</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >الدعم للطلاب</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >برامج التمويل الجامعية</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-6">
            <h6 class="text-lg font-bold leading-[1.6] mb-3 arabic-text">
              قم بتنزيل التطبيق
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5">
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >قم بالتنزيل من متجر Play</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >قم بالتنزيل من متجر التطبيقات</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-6">
            <h6 class="text-lg font-bold leading-[1.6] mt-8 mb-5 arabic-text">
              البنك الإلكتروني
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >التمويل في الرعاية الصحية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >إدارة السجلات المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                  >أدوات مراقبة المالية</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Large Devices  -->
    <div class="hidden lg:block">
      <div
        class="grid max-lg:grid-cols-2 grid-flow-row-dense lg:grid-cols-5 md:gap-8 lg:justify-center mb-5 md:mb-10"
      >
        <div>
          <h6
            class="text-lg arabic-text text-right font-bold leading-[1.6] mb-3"
          >
            أرسل
          </h6>
          <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
            <li class="group">
              <a
                href="#"
                class="text-sm arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >مركز الرفاهية المالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >استراتيجيات الاستثمار</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >أدوات الميزانية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >الدعم المالي</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >متتبع النفقات</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >أدلة التوفير</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >المنزل والاستثمارات</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >دفتر الثروات</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >الأساسيات المالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >خطط العضوية</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h6
            class="text-lg font-bold leading-[1.6] arabic-text mb-3 text-right"
          >
            أنفق
          </h6>
          <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >ميزات سهلة الاستخدام</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >مبادرات الثقافة المالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.0]"
                >ممارسات الاستثمار المستدامة</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >المساواة والشمولية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >خصوصية البيانات والأمان</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >العدالة والإنصاف</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >الممارسات الأخلاقية</a
              >
            </li>
          </ul>
          <div class="mt-6">
            <h6
              class="text-lg font-bold arabic-text leading-[1.6] mb-3 text-right"
            >
              استلم
            </h6>
            <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >آخر الأخبار المالية</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >تعرف على مستشارينا</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >انضم إلى فريقنا الاستشاري</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >استثمر في مستقبلك</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >النزاهة والأخلاق</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >الندوات القادمة</a
                >
              </li>
              <li class="group">
                <a
                  href="#"
                  class="text-sm font-medium arabic-text underline-hover group-hover:font-semibold group-hover:text-[#54F439] leading-[1.6]"
                  >تواصل معنا</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h6
            class="text-lg font-bold arabic-text leading-[1.6] mb-3 text-right"
          >
            أضف نقودًا
          </h6>
          <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >البودكاست المالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >فيديوهات الاستثمار</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >الاستثمار الواعي</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >رؤى السوق</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >اجعل مدخراتك ممتعة</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >دعم قائم على السحابة</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >حزمة الرفاهية المالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >بطاقة الاستثمار</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >قراءات مالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >بودكاست مالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >مركز الموارد</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h6 class="text-lg font-bold arabic-text leading-[1.6] mb-3">
            قم بتنزيل التطبيق
          </h6>
          <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >قم بالتنزيل من متجر Play</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >قم بالتنزيل من متجر التطبيقات</a
              >
            </li>
          </ul>
          <h6 class="text-lg font-bold leading-[1.6] mt-8 mb-5 arabic-text">
            بطاقة
          </h6>
          <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >تعليم التمويل في المدارس</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >الدعم للطلاب</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >برامج التمويل الجامعية</a
              >
            </li>
          </ul>
          <h6 class="text-lg font-bold leading-[1.6] mt-8 mb-5 arabic-text">
            البنك الإلكتروني
          </h6>
          <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >التمويل في الرعاية الصحية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >إدارة السجلات المالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >أدوات مراقبة المالية</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h6 class="text-lg font-bold leading-[1.6] mb-3 arabic-text">
            الدعم
          </h6>
          <ul class="[&>*:not(:last-child)]:mb-1.5 text-right">
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >جلسات الدعم</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >ورش العمل والندوات</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >الحياة في Floos</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >الرفاهية المالية</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >خدمات مخفضة</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >خطط الدفع</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >تداول أموالك</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >حالة الجلسة</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm underline-hover arabic-text group-hover:font-semibold group-hover:text-[#54F439] font-medium leading-[1.6]"
                >مركز المساعدة</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="absolute right-0 -translate-y-[2.5rem] md:-translate-y-16 inline-block group"
      id="backToTop"
    >
      <a
        href="#"
        class="text-sm md:text-lg font-medium md:font-bold inline-flex justify-end items-center gap-[6px] font-Manrope leading-normal tracking-[-0.072px] text-[#54F439]"
        >العودة إلى الأعلى
        <img
          src="images/icons/color-arrow.svg"
          alt="arrow"
          class="group-hover:-translate-y-2 transition-transform duration-300 ease-in-out"
      /></a>
    </div>
    <div class="border-y py-4 md:py-6 border-opacity-5 flex justify-end">
      <p
        class="text-xs md:text-sm text-opacity-[0.6] font-normal text-right arabic-text leading-[1.6] xl:max-w-[1058px]"
      >
        تنبيه: في Floos، خصوصيتك هي أولويتنا القصوى. نحن لا نبيع بياناتك أو
        نستخدم رسائلك الإلكترونية للترويج الإعلاني. تم تصميم خدمتنا لمساعدتك
        بأمان في تنظيف صندوق الوارد الخاص بك، دون أي تنازل عن أمانك أو معلوماتك
        الشخصية.
      </p>
    </div>
    <div
      class="mt-5 md:mt-6 mb-6 md:mb-[30px] flex flex-col md:flex-row justify-between gap-y-2.5 md:items-center"
    >
      <p
        class="text-xs md:text-sm text-opacity-[0.6] font-normal leading-[1.6]"
      >
        جميع الحقوق محفوظة © 2025 Floos
      </p>
      <ul class="flex items-center gap-[6px] flex-wrap">
        <a
          href="#"
          class="text-xs hover:text-[#54F439] duration-500 transition-colors ease-in-out md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >خريطة الموقع</a
        >
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="4"
            height="4"
            viewBox="0 0 4 4"
            fill="none"
          >
            <circle opacity="0.6" cx="2" cy="2" r="2" fill="#020500" />
          </svg>
        </span>
        <a
          href="#"
          class="text-xs hover:text-[#54F439] duration-500 transition-colors ease-in-out md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >سياسة الخصوصية</a
        >
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="4"
            height="4"
            viewBox="0 0 4 4"
            fill="none"
          >
            <circle opacity="0.6" cx="2" cy="2" r="2" fill="#020500" />
          </svg>
        </span>
        <a
          href="#"
          class="text-xs hover:text-[#54F439] duration-500 transition-colors ease-in-out md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >شروط الاستخدام</a
        >
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="4"
            height="4"
            viewBox="0 0 4 4"
            fill="none"
          >
            <circle opacity="0.6" cx="2" cy="2" r="2" fill="#020500" />
          </svg>
        </span>
        <a
          href="#"
          class="text-xs hover:text-[#54F439] duration-500 transition-colors ease-in-out md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >المبيعات والاسترداد</a
        >
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="4"
            height="4"
            viewBox="0 0 4 4"
            fill="none"
          >
            <circle opacity="0.6" cx="2" cy="2" r="2" fill="#020500" />
          </svg>
        </span>
        <a
          href="#"
          class="text-xs hover:text-[#54F439] duration-500 transition-colors ease-in-out md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >القانوني</a
        >
      </ul>
    </div>
  </div>
</footer>
