<footer class="pt-16 md:pt-[100px] relative reveal-me overflow-x-hidden">
  <div class="container mx-auto px-4">
    <div
      class="grid grid-cols-1 lg:grid-cols-5 md:gap-8 lg:justify-center mb-5 md:mb-10"
    >
      <div>
        <h6 class="text-lg font-bold leading-[1.6] mb-5">Send</h6>
        <ul class="[&>*:not(:last-child)]:mb-4">
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Financial Wellness Hub</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Investment Strategies</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Budgeting Tools</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Financial Support</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Expense Tracker</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Savings Guides</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Home & Investments</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Wealth Journal</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Financial Essentials</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Membership Plans</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h6 class="text-lg font-bold leading-[1.6] mb-5">Spend</h6>
        <ul class="[&>*:not(:last-child)]:mb-4">
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >User-Friendly Features</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Financial Literacy Initiatives</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.0]"
              >Sustainable Investing Practices</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Equity and Inclusion</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Data Privacy and Security</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Fairness and Justice</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Ethical Practices</a
            >
          </li>
        </ul>
        <div class="mt-6">
          <h6 class="text-lg font-bold leading-[1.6] mb-5">Recieve</h6>
          <ul class="[&>*:not(:last-child)]:mb-4">
            <li class="group">
              <a
                href="#"
                class="text-sm font-medium underline-hover group-hover:font-semibold group-hover:text-[#21A90A] leading-[1.6]"
                >Latest Financial News</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm font-medium underline-hover group-hover:font-semibold group-hover:text-[#21A90A] leading-[1.6]"
                >Meet Our Advisors</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm font-medium underline-hover group-hover:font-semibold group-hover:text-[#21A90A] leading-[1.6]"
                >Join Our Advisory Team</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm font-medium underline-hover group-hover:font-semibold group-hover:text-[#21A90A] leading-[1.6]"
                >Invest In Your Future</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm font-medium underline-hover group-hover:font-semibold group-hover:text-[#21A90A] leading-[1.6]"
                >Integrity & Ethics</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm font-medium underline-hover group-hover:font-semibold group-hover:text-[#21A90A] leading-[1.6]"
                >Upcoming Webinars</a
              >
            </li>
            <li class="group">
              <a
                href="#"
                class="text-sm font-medium underline-hover group-hover:font-semibold group-hover:text-[#21A90A] leading-[1.6]"
                >Get In Touch</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h6 class="text-lg font-bold leading-[1.6] mb-5">Add Cash</h6>
        <ul class="[&>*:not(:last-child)]:mb-4">
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Financial Podcasts</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Investment Videos</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Mindful Investing</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Market Insights</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Gamify Your Savings</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Cloud-Based Support</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Financial Wellness Package</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Investment Card</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Finance Reads</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Finance Podcasts</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Resource Hub</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h6 class="text-lg font-bold leading-[1.6] mb-5">Download App</h6>
        <ul class="[&>*:not(:last-child)]:mb-4">
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Download from Play Store</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Download from App Store</a
            >
          </li>
        </ul>
        <h6 class="text-lg font-bold leading-[1.6] mt-8 mb-5">Card</h6>
        <ul class="[&>*:not(:last-child)]:mb-4">
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Finance Education in Schools</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Support for Students</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >College Financial Programs</a
            >
          </li>
        </ul>
        <h6 class="text-lg font-bold leading-[1.6] mt-8 mb-5">e-Banking</h6>
        <ul class="[&>*:not(:last-child)]:mb-4">
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Finance in Healthcare</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Financial Records Management</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Financial Monitoring Tools</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h6 class="text-lg font-bold leading-[1.6] mb-5">Support</h6>
        <ul class="[&>*:not(:last-child)]:mb-4">
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Support Sessions</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Workshops & Webinars</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Life at Floos</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Monetary Wellness</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Discounted Services</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Payment Plans</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Trade Your Funds</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Session Status</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="text-sm underline-hover group-hover:font-semibold group-hover:text-[#21A90A] font-medium leading-[1.6]"
              >Help Center</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div
      class="absolute right-[15%] -translate-y-[2.5rem] md:-translate-y-16 inline-block group"
      id="backToTop"
    >
      <a
        href="#"
        class="text-sm md:text-lg font-medium md:font-bold inline-flex justify-end items-center gap-[6px] font-Manrope leading-normal tracking-[-0.072px] text-[#21A90A]"
        >Back to top
        <img
          src="images/icons/color-arrow.svg"
          alt="arrow"
          class="group-hover:-translate-y-2 transition-transform duration-300 ease-in-out"
      /></a>
    </div>
    <div class="border-y py-4 md:py-6 border-opacity-5">
      <p
        class="text-xs md:text-sm text-opacity-[0.6] font-normal leading-[1.6] max-w-[1058px]"
      >
        Disclaimer: At Floos, your privacy is our top priority. We do not sell
        your data or use your emails for ad profiling. Our service is designed
        to safely help you clean up your inbox, with no compromise on your
        security or personal information.
      </p>
    </div>
    <div
      class="mt-6 flex flex-col md:flex-row justify-between gap-y-2.5 md:items-center"
    >
      <p
        class="text-xs md:text-sm text-opacity-[0.6] font-normal leading-[1.6]"
      >
        All rights reserved © 2025 Floos
      </p>
      <ul class="flex items-center gap-[6px] flex-wrap">
        <a
          href="#"
          class="text-xs md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >Privacy Policy</a
        >
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="4"
            height="4"
            viewBox="0 0 4 4"
            fill="none"
          >
            <circle opacity="0.6" cx="2" cy="2" r="2" fill="#020500" />
          </svg>
        </span>
        <a
          href="#"
          class="text-xs md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >Terms of Use</a
        >
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="4"
            height="4"
            viewBox="0 0 4 4"
            fill="none"
          >
            <circle opacity="0.6" cx="2" cy="2" r="2" fill="#020500" />
          </svg>
        </span>
        <a
          href="#"
          class="text-xs md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >Sales & Refund</a
        >
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="4"
            height="4"
            viewBox="0 0 4 4"
            fill="none"
          >
            <circle opacity="0.6" cx="2" cy="2" r="2" fill="#020500" />
          </svg>
        </span>
        <a
          href="#"
          class="text-xs md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >Legal</a
        >
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="4"
            height="4"
            viewBox="0 0 4 4"
            fill="none"
          >
            <circle opacity="0.6" cx="2" cy="2" r="2" fill="#020500" />
          </svg>
        </span>
        <a
          href="#"
          class="text-xs md:text-sm text-opacity-[0.6] font-medium leading-[1.6]"
          >Sitemap</a
        >
      </ul>
    </div>
  </div>
</footer>
