<section class="bg-[#F6F8FA] rounded-3xl md:rounded-large">
  <div
    class="container relative xl:pl-[126px] mx-auto flex flex-col lg:flex-row gap-y-1 gap-5 items-center justify-between"
  >
    <div class="absolute top-0 left-0">
      <img
        src="images/icons/hero-bg-vector.svg"
        alt="Decorative background pattern"
      />
    </div>

    <div class="lg:mb-10 py-8 md:py-12 lg:py-[118px] z-20 lg:w-2/3 xl:w-auto">
      <div
        class="border bordert-[#E8EDE8] inline-block rounded px-2.5 py-[3px] mb-2.5 reveal-me"
      >
        <span class="text-sm font-medium leading-[1.6] text-[#575757]"
          >Advance Finance Solution</span
        >
      </div>

      <h1 class="mb-4 text-appear">
        Manage Money, <br class="hidden lg:block" />
        Master Your Future <br class="hidden lg:block" />
        and Family.
      </h1>

      <p
        class="text-base font-normal leading-[1.6] mb-6 md:mb-8 lg:mb-[34px] lg:max-w-[510px] text-appear"
      >
        Automatically categorize and track your spending effortlessly. Set and
        achieve financial goals with personalized budgets.
      </p>

      <ul class="inline-block reveal-me">
        <li class="btn-primary">
          <a href="#" class="text-sm font-medium leading-[1.6]">Start Today</a>
          <img src="images/icons/right-arrow.svg" alt="Right arrow icon" />
        </li>
      </ul>
    </div>

    <div class="relative">
      <figure class="relative">
        <img
          src="images/thumbnail/hero.png"
          alt="Mobile app interface showing finance features"
          class="z-10 relative max-md:pl-10 hero-mobile"
        />

        <div
          class="absolute top-[64px] max-md:left-[0px] md:-right-14 lg:-right-[1%] w-[105%] md:w-[119%]"
        >
          <img
            src="images/thumbnail/Wordmap-shape.png"
            alt="Wordmap-shape images"
            class="z-5 w-full object-cover h-full worldmap"
          />
        </div>

        <div
          class="absolute bottom-7 md:bottom-2 right-14 md:right-7 z-[999999] QR_box"
        >
          <div
            class="flex items-center gap-3 shadow-box-v1 rounded-[8px] md:rounded-2xl p-2 md:p-4 bg-white"
          >
            <img
              src="images/icons/Qr-code.svg"
              alt="QR Code for app download"
              class="max-md:size-6"
            />
            <blockquote>
              <h6 class="text-[9px] md:text-lg font-medium leading-[1.6] mb-1">
                Get Application by scanning
              </h6>
              <p
                class="text-[7px] md:text-base flex items-center gap-1 font-medium leading-[1.6] underline underline-offset-4"
              >
                <span>Download App</span>
                <img
                  src="images/icons/receive-square-dark.svg"
                  alt="Download icon"
                  class="max-md:size-2.5"
                />
              </p>
            </blockquote>
          </div>
        </div>
      </figure>
    </div>
  </div>
</section>
