<!-- ============================
Hero Section 
================================== -->

<section class="bg-[#F6F8FA] rounded-3xl md:rounded-large overflow-hidden">
  <div
    class="container relative xl:pl-[126px] mx-auto flex flex-col lg:flex-row gap-y-1 gap-x-32 items-center justify-between"
  >
    <!-- Background Vector -->
    <div class="absolute top-0 left-0">
      <img
        src="images/icons/hero-bg-vector.svg"
        alt="Decorative background pattern"
      />
    </div>

    <!-- Left Content -->
    <div
      class="lg:mb-10 py-8 md:py-12 lg:py-[118px] z-20 w-full lg:w-[90%] xl:w-[47%]"
    >
      <div class="flex justify-end lg:justify-start 2xl:justify-end">
        <div
          class="border border-[#E8EDE8] inline-block rounded px-2.5 py-[3px] mb-2.5 reveal-me bg-primary"
        >
          <span
            class="text-sm font-medium arabic-text leading-[1.6] text-[#575757]"
          >
          التمويل للسوريين، بإعادة تصور جديدة
          </span>
        </div>
      </div>

      <h1
        class="mb-4 reveal-me text-right lg:text-left 2xl:text-right arabic-text 2xl:max-w-[510px] ml-auto"
      >
        بسيط وآمن، ومصمم للحياة اليومية، هنا في الوطن.
      </h1>

      <p
        class="text-base text-right lg:text-left 2xl:text-right font-normal 2xl:arabic-text leading-[1.6] mb-6 md:mb-8 lg:mb-[34px] reveal-me"
      >
        قم بتصنيف وتتبع إنفاقك تلقائيًا دون جهد. حدد وحقق أهدافك المالية مع
        ميزانيات <br class="hidden lg:block" />مخصصة.
      </p>
      <a href="#" class="flex justify-end lg:justify-start 2xl:justify-end">
        <ul class="inline-block reveal-me-3">
          <li
            class="bg-[#54F439] hover:bg-[#45d32c] group flex items-center gap-x-1 py-3 md:py-[14px] rounded pl-6 md:pl-[30px] pr-5 md:pr-6 transition-colors duration-500 ease-in-out"
          >
            <!-- Text Container -->
            <div
              class="text-sm font-medium leading-[1.6] relative overflow-hidden inline-flex flex-col"
            >
              <span
                class="group-hover:-translate-y-full arabic-text transition-transform duration-500 ease-in-out text-primary"
              >
                ابدأ الآن
              </span>

              <span
                class="absolute translate-y-full arabic-text group-hover:translate-y-0 transition-transform duration-500 ease-in-out"
              >
                ابدأ الآن
              </span>
            </div>
            <!-- Icon -->
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M6 12L10 8L6 4"
                  class="transition-all group-hover:translate-x-1 duration-500 stroke-primary group-hover:stroke-paragraph"
                  ="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </li>
        </ul>
      </a>
    </div>

    <!-- Right Content (Image) -->
    <div class="relative">
      <figure>
        <img
          src="images/thumbnail/hero.png"
          alt="Mobile app interface showing finance features"
          class="z-10 relative max-md:pl-10 hero-mobile"
        />

        <!-- World Map Background -->
        <div
          class="absolute top-[64px] max-md:left-0 md:-right-14 lg:-right-[1%] w-[105%] md:w-[119%]"
        >
          <img
            src="images/thumbnail/Wordmap-shape.png"
            alt="Wordmap-shape images"
            class="w-full object-cover h-full worldmap"
          />
        </div>

        <!-- QR Code Box -->
        <div
          class="absolute bottom-7 md:bottom-2 right-[3%] sm:right-[12%] lg:right-[-7%] xl:right-[4%] 2xl:right-[5.75rem] z-50 QR_box"
        >
          <div
            class="flex flex-col items-center gap-3 shadow-box-v1 rounded-lg p-2 md:p-4 bg-white"
          >
            <h6
              class="text-sm md:text-lg arabic-text font-medium leading-[1.2]"
            >
              احصل على التطبيق من المتجر
            </h6>
            <figure class="flex w-full gap-[6px]">
              <a href="">
                <img
                  src="images/icons/mobile-app-store.svg"
                  alt="mobile-app-store"
                  class="w-[90px] lg:w-full h-[26px] lg:h-[35px] object-cover"
                />
              </a>
              <a href="">
                <img
                  src="images/icons/apple-app-store.svg"
                  alt="apple-app-store"
                  class="w-[90px] lg:w-full h-[26px] lg:h-[35px] object-cover"
                />
              </a>
            </figure>
          </div>
        </div>
      </figure>
    </div>
  </div>
</section>
