<!-- ===============================
Landing Section 
================================== -->
<section class="py-8 md:py-[100px]">
  <div class="container">
    <div
      class="flex flex-col lg:flex-row gap-y-10 items-center justify-evenly rounded-large"
    >
      <!-- content -->
      <div>
        <figure class="size-8 p-[6px] rounded-lg mb-2.5">
          <img src="images/icons/money-send.svg" alt="money-send" />
        </figure>
        <!-- Main Heading -->
        <h2 class="mb-4">
          Effortless Transfers <br class="hidden md:block" />
          Anytime, Anywhere
        </h2>

        <!-- Description -->
        <p
          class="text-base font-normal leading-[1.6] mb-6 md:mb-[34px] max-w-[500px]"
        >
          Say goodbye to complicated payment processes. With our app, you can
          send money instantly to anyone across the globe. Whether you're
          splitting bills with friends, supporting family overseas, or paying
          vendors, our platform ensures your transactions are fast, secure, and
          hassle-free. No hidden fees, no delays—just smooth transfers at your
          fingertips.
        </p>

        <!-- CTA Button -->
        <ul class="inline-block">
          <li class="btn-dark-v2">
            <a href="#" class="text-sm font-medium leading-[1.6]"
              >Start Today</a
            >
            <img src="images/icons/right-arrow.svg" alt="Right arrow icon" />
          </li>
        </ul>
      </div>

      <!-- Image Section -->
      <figure>
        <img
          src="images/thumbnail/effortless-hero.png"
          alt="Mobile app interface showing finance features"
        />
      </figure>
    </div>
  </div>
</section>
