<!-- mobile -->
<header class="w-full bg-white block lg:hidden overflow-hidden">
  <!-- Main header - always visible -->
  <nav class="flex items-center justify-between px-4 py-3">
    <!-- Logo -->
    <div>
      <a href="#" class="flex items-center">
        <img src="/images/logo.png" alt="Floos Logo" class="size-[42px]" />
        <span class="ml-3 text-lg font-medium leading-[1.6]">Floos</span>
      </a>
    </div>

    <ul class="flex items-center gap-x-2.5">
      <!-- Download App Button - Visible on mobile -->
      <li class="btn-dark flex items-center">
        <a href="#" class="text-sm font-medium leading-[1.6] mr-2"
          >Download App</a
        >
        <img src="images/icons/receive-square.svg" alt="icon" />
      </li>

      <!-- Mobile menu button -->
      <button id="mobile-menu-button" class="focus:outline-none">
        <svg
          id="menu-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <path
            d="M26.6665 9.33333L5.33318 9.33333"
            stroke="#1C274C"
            stroke-width="1.5"
            stroke-linecap="round"
          />
          <path
            d="M26.6665 16L5.33318 16"
            stroke="#1C274C"
            stroke-width="1.5"
            stroke-linecap="round"
          />
          <path
            d="M26.6665 22.6667L5.33318 22.6667"
            stroke="#1C274C"
            stroke-width="1.5"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </ul>
  </nav>

  <!-- Mobile menu - initially hidden with CSS -->
  <div
    id="mobile-menu"
    class="fixed inset-0 bg-white z-50 pointer-events-none opacity-0"
  >
    <div class="flex justify-between items-center p-4">
      <div class="flex items-center">
        <div>
          <a href="#" class="flex items-center">
            <img src="/images/logo.png" alt="Floos Logo" class="size-[42px]" />
            <span class="ml-3 text-lg font-medium leading-[1.6]">Floos</span>
          </a>
        </div>
      </div>

      <!-- Close button -->
      <button id="close-menu-button" class="p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
        >
          <path
            d="M11.601 1.60108C11.933 1.26914 11.933 0.730946 11.601 0.399C11.2691 0.0670543 10.7309 0.0670542 10.399 0.399L11.601 1.60108ZM0.399001 10.399C0.0670555 10.7309 0.0670556 11.2691 0.399001 11.601C0.730947 11.933 1.26914 11.933 1.60108 11.601L0.399001 10.399ZM1.60104 0.398959C1.2691 0.0670136 0.730905 0.0670135 0.398959 0.398959C0.0670136 0.730905 0.0670135 1.26909 0.398959 1.60104L1.60104 0.398959ZM10.3989 11.601C10.7309 11.9329 11.2691 11.9329 11.601 11.601C11.9329 11.2691 11.9329 10.7309 11.601 10.3989L10.3989 11.601ZM10.399 0.399L5.39898 5.39898L6.60106 6.60106L11.601 1.60108L10.399 0.399ZM5.39898 5.39898L0.399001 10.399L1.60108 11.601L6.60106 6.60106L5.39898 5.39898ZM0.398959 1.60104L5.39898 6.60106L6.60106 5.39898L1.60104 0.398959L0.398959 1.60104ZM5.39898 6.60106L10.3989 11.601L11.601 10.3989L6.60106 5.39898L5.39898 6.60106Z"
            fill="#020500"
            class="opacity-[0.4]"
          />
        </svg>
      </button>
    </div>

    <!-- Mobile menu items with staggered animation -->
    <nav class="px-4 py-2">
      <ul id="menu-items">
        <li
          class="border-b pb-2.5 mb-8 opacity-0 transform translate-x-8 group"
        >
          <a href="#" class="flex justify-between items-center">
            <span class="text-lg font-semibold leading-[1.6]">Send</span>
            <figure
              class="bg-primary w-7 h-7 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-[2px] transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-[2px] group-hover:-translate-y-[3px]"
              />
            </figure>
          </a>
        </li>
        <li
          class="border-b pb-2.5 mb-8 opacity-0 transform translate-x-8 group"
        >
          <a href="#" class="flex justify-between items-center">
            <span class="text-lg font-semibold leading-[1.6]">Recieve</span>
            <figure
              class="bg-primary w-7 h-7 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-[2px] transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-[2px] group-hover:-translate-y-[3px]"
              />
            </figure>
          </a>
        </li>
        <li
          class="border-b pb-2.5 mb-8 opacity-0 transform translate-x-8 group"
        >
          <a href="#" class="flex justify-between items-center">
            <span class="text-lg font-semibold leading-[1.6]">Spend</span>
            <figure
              class="bg-primary w-7 h-7 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-[2px] transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-[2px] group-hover:-translate-y-[3px]"
              />
            </figure>
          </a>
        </li>
        <li
          class="border-b pb-2.5 mb-8 opacity-0 transform translate-x-8 group"
        >
          <a href="#" class="flex justify-between items-center">
            <span class="text-lg font-semibold leading-[1.6]">Card</span>
            <figure
              class="bg-primary w-7 h-7 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-[2px] transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-[2px] group-hover:-translate-y-[3px]"
              />
            </figure>
          </a>
        </li>
        <li class="pb-2.5 mb-8 opacity-0 transform translate-x-8 group">
          <a href="#" class="flex justify-between items-center">
            <span class="text-lg font-semibold leading-[1.6]"
              >Refer & Earn</span
            >
            <figure
              class="bg-primary w-7 h-7 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-[2px] transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-up-right.svg"
                alt="Arrow Icon"
                class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-[2px] group-hover:-translate-y-[3px]"
              />
            </figure>
          </a>
        </li>
      </ul>

      <!-- Action buttons -->

      <ul id="menu-buttons" class="mt-[90px] space-y-4 opacity-0">
        <li
          class="btn-light !py-3.5 flex justify-center items-center group hover:bg-paragraph"
        >
          <a
            href="#"
            class="text-sm font-semibold leading-[1.6] mr-1 group-hover:text-primary"
            >Get Started</a
          >
          <img src="images/icons/user-circle.svg" alt="icon" />
        </li>
        <li
          class="btn-dark !py-3.5 flex justify-center items-center group hover:border hover:border-[#F6F8FA] hover:bg-primary"
        >
          <a
            href="#"
            class="text-sm font-semibold leading-[1.6] mr-1 group-hover:text-paragraph"
            >Download App</a
          >
          <img src="images/icons/receive-square.svg" alt="icon" />
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Large Devices  -->
<header class="navbar-area pt-5 pb-[30px] hidden lg:block">
  <nav
    class="container md:px-16 lg:px-10 xl:px-[126px] mx-auto flex items-center justify-between"
  >
    <div>
      <a href="#" class="flex items-center">
        <img src="/images/logo.png" alt="Floos Logo" class="size-[42px]" />
        <span class="ml-3 text-lg font-medium leading-[1.6]">Floos</span>
      </a>
    </div>

    <div class="flex items-center gap-x-[60px]">
      <ul class="flex space-x-[40px]">
        <li class="underline-hover">
          <a
            href="#"
            class="text-[15px] font-semibold leading-[1.6] transition duration-300 ease-in-out hover:text-[#21A90A]"
            >Send</a
          >
        </li>
        <li class="underline-hover">
          <a
            href="#"
            class="text-[15px] font-semibold leading-[1.6] transition duration-300 ease-in-out hover:text-[#21A90A]"
            >Receive</a
          >
        </li>
        <li class="underline-hover">
          <a
            href="#"
            class="text-[15px] font-semibold leading-[1.6] transition duration-300 ease-in-out hover:text-[#21A90A]"
            >Spend</a
          >
        </li>
        <li class="underline-hover">
          <a
            href="#"
            class="text-[15px] font-semibold leading-[1.6] transition duration-300 ease-in-out hover:text-[#21A90A]"
            >Refer & Earn</a
          >
        </li>
        <li class="underline-hover">
          <a
            href="#"
            class="text-[15px] font-semibold leading-[1.6] transition duration-300 ease-in-out hover:text-[#21A90A]"
            >Card</a
          >
        </li>
      </ul>

      <ul class="flex space-x-2">
        <li class="btn-light flex items-center">
          <a href="#" class="text-sm font-medium leading-[1.6] mr-2"
            >Get Started</a
          >
          <img src="images/icons/user-circle.svg" alt="icon" />
        </li>
        <li class="btn-dark flex items-center">
          <a href="#" class="text-sm font-medium leading-[1.6] mr-2"
            >Download App</a
          >
          <img src="images/icons/receive-square.svg" alt="icon" />
        </li>
      </ul>
    </div>
  </nav>
</header>
