<!-- ===============================
 payment-collection Section - 
================================== -->
<section class="bg-[#F6F8FA] z-10 rounded-2xl md:rounded-large overflow-hidden">
  <div class="container relative">
    <div
      class="flex flex-col-reverse lg:flex-row gap-y-10 gap-x-6 xl:gap-x-0 items-center justify-evenly rounded-large max-md:py-8 md:py-14 lg:pt-24 lg:pb-[43px]"
    >
      <div class="relative">
        <!-- Image Section -->
        <figure class="relative z-10 reveal-image">
          <img
            src="images/thumbnail/payment.png"
            alt="Mobile app interface showing finance features"
            class="z-30"
          />
        </figure>
        <figure
          class="absolute -top-11 md:-top-10 -right-[14px] md:-right-8 reveal-me"
        >
          <img
            src="images/thumbnail/calender-1.png"
            alt="Mobile app interface showing finance features"
            class="relative"
          />
        </figure>

        <!-- Badge Box -->
        <div
          class="inline-block absolute -left-1.5 md:-left-[103px] lg:-left-5 2xl:-left-[103px] bottom-[60px] z-50 reveal-me"
        >
          <div
            class="flex items-center gap-[14px] shadow-box-v2 rounded-xl md:rounded-[23px] max-md:pl-2 max-md:pr-3 max-md:py-[6px] md:pl-[12px] md:pt-[12px] md:pr-[15px] md:pb-[10px] bg-white"
          >
            <img
              src="images/icons/24-sms-payment.svg"
              alt="QR Code for app download"
              class="rounded-[527.713px] md:rounded-[932.008px] p-[5px] md:p-[9.33px] bg-[#E8EDE8]"
            />
            <blockquote>
              <h6
                class="text-[9px] md:text-[16.793px] font-semibold leading-[1.2] tracking-[-0.09px] md:tracking-[-0.168px] mb-[2px] md:mb-1"
              >
                Your account has been credited <br />
                with $150.00.
              </h6>
              <p
                class="text-[8px] md:text-[13.061px] font-normal text-[#A6A6A6] leading-[1.6] tracking-[-0.024px] md:tracking-[-0.039px]"
              >
                Subtitle here
              </p>
            </blockquote>
          </div>
        </div>
        <!-- Badge Box2 -->
        <div
          class="inline-block absolute -left-2 md:-left-[103px] lg:-left-5 2xl:-left-[103px] -bottom-0 md:-bottom-6 z-50 reveal-me"
        >
          <div
            class="flex items-center gap-[14px] shadow-box-v2 rounded-[12px] md:rounded-[23px] max-md:pl-2 max-md:pr-3 max-md:py-[6px] md:pl-[15px] md:pt-[11px] md:pr-[19px] md:pb-[8px] bg-white"
          >
            <img
              src="images/icons/check.svg"
              alt="QR Code for app download"
              class="rounded-[527.713px] md:rounded-[932.008px] p-[5px] md:p-[9.33px] bg-[#E8EDE8]"
            />
            <blockquote>
              <h6
                class="text-[8px] md:text-[16.793px] font-semibold leading-[1.2] tracking-[-0.168px] mb-[2px] md:mb-1"
              >
                Recieved 256 SYP
              </h6>
              <p
                class="text-[8px] md:text-[13.061px] font-normal text-[#A6A6A6] leading-[1.6] tracking-[-0.024px] md:tracking-[-0.039px]"
              >
                Subtitle here
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <!-- content -->
      <div class="sm:pl-[4.1%] md:pl-0">
        <figure class="bg-[#DDE7DD] size-8 p-[6px] rounded-lg mb-2.5 reveal-me">
          <img src="images/icons/money-3.svg" alt="money-send" />
        </figure>
        <!-- Main Heading -->
        <h2 class="mb-4 md:mb-5 text-appear">
          Get Paid within Seconds <br class="hidden md:block" />
          with a zap, Effortlessly
        </h2>

        <!-- Description -->
        <p
          class="text-base font-normal leading-[1.6] mb-6 md:mb-[34px] max-w-[567px] reveal-me"
        >
          Need to collect payments quickly? Our app makes receiving funds
          <br class="hidden md:block" />
          as easy as sending them. Whether it’s for freelance work, selling
          goods online, or <br class="hidden md:block" />
          accepting gifts from loved ones, your money arrives instantly and
          securely. Plus, <br class="hidden md:block" />
          real-time notifications keep you updated so you’re always in control
          of your finances.
        </p>

        <!-- CTA Button -->
        <ul class="inline-block reveal-me">
          <li class="btn-dark">
            <a href="#" class="text-sm font-medium leading-[1.6]"
              >Download App</a
            >
            <img src="images/icons/receive-square.svg" alt="icon" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
