<!-- ===============================
 Hero Section - Reviewed Version
================================== -->
<section>
  <div class="container relative bg-[#F6F8FA] z-10 rounded-large">
    <div class="flex items-center justify-evenly rounded-large pt-24 pb-[43px]">
      <div class="relative">
        <!-- Image Section -->
        <figure class="relative">
          <img
            src="images/thumbnail/payment.png"
            alt="Mobile app interface showing finance features"
          />
        </figure>
        <img
          src="images/thumbnail/calender-1.png"
          alt="Mobile app interface showing finance features"
          class="absolute -top-14 -right-8 -z-20"
        />

        <!-- Badge Box -->
        <div class="inline-block absolute -left-[103px] bottom-[60px]">
          <div
            class="flex items-center gap-[14px] shadow-box-v2 rounded-[23px] pl-[12px] pt-[12px] pr-[15px] pb-[10px] bg-white"
          >
            <img
              src="images/icons/24-sms-payment.svg"
              alt="QR Code for app download"
              class="rounded-[932.008px] p-[9.33px] bg-[#E8EDE8]"
            />
            <blockquote>
              <h6
                class="text-[16.793px] font-semibold leading-[1.2] tracking-[-0.168px] mb-1"
              >
                Your account has been credited <br />
                with $150.00.
              </h6>
              <p
                class="text-[13.061px] font-normal text-[#A6A6A6] leading-[1.6] tracking-[-0.039px]"
              >
                Subtitle here
              </p>
            </blockquote>
          </div>
        </div>
        <!-- Badge Box2 -->
        <div class="inline-block absolute -left-[103px] -bottom-6">
          <div
            class="flex items-center gap-[14px] shadow-box-v2 rounded-[12px] pl-[15px] pt-[11px] pr-[19px] pb-[8px] bg-white"
          >
            <img
              src="images/icons/check.svg"
              alt="QR Code for app download"
              class="rounded-[932.008px] p-[9.33px] bg-[#E8EDE8]"
            />
            <blockquote>
              <h6
                class="text-[16.793px] font-semibold leading-[1.2] tracking-[-0.168px] mb-1"
              >
                Recieved 256 SYP
              </h6>
              <p
                class="text-[13.061px] font-normal text-[#A6A6A6] leading-[1.6] tracking-[-0.039px]"
              >
                Subtitle here
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <!-- content -->
      <div>
        <figure class="bg-[#DDE7DD] size-8 p-[6px] rounded-lg mb-2.5">
          <img src="images/icons/money-3.svg" alt="money-send" />
        </figure>
        <!-- Main Heading -->
        <h2 class="mb-5">
          Get Paid within Seconds <br class="hidden md:block" />
          with a zap, Effortlessly
        </h2>

        <!-- Description -->
        <p class="text-base font-normal leading-[1.6] mb-[34px] max-w-[567px]">
          Need to collect payments quickly? Our app makes receiving funds
          <br class="hidden md:block" />
          as easy as sending them. Whether it’s for freelance work, selling
          goods online, or <br class="hidden md:block" />
          accepting gifts from loved ones, your money arrives instantly and
          securely. Plus, <br class="hidden md:block" />
          real-time notifications keep you updated so you’re always in control
          of your finances.
        </p>

        <!-- CTA Button -->
        <ul class="inline-block">
          <li class="btn-dark">
            <a href="#" class="text-sm font-medium leading-[1.6]"
              >Download App</a
            >
            <img src="images/icons/receive-square.svg" alt="icon" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
