<!-- ============================
secure-card-features 
================================ -->

<section
  class="relative bg-[#F6F8FA] -z-10 rounded-2xl md:rounded-large"
  id="card"
>
  <div
    class="container overflow-hidden relative min-h-[706px] sm:min-h-[895px] md:min-h-[960px] lg:min-h-[1000px]"
  >
    <!-- content for  Positioning  Area -->

    <!-- 1 -->
    <div class="absolute bottom-0 left-1/2 -translate-x-1/2" id="hand-img">
      <img
        src="images/thumbnail/hand.png"
        alt="Hand Image"
        class="w-[95%] md:w-[82%] lg:w-full"
      />
    </div>

    <!-- 2 -->
    <div
      class="absolute bottom-[4.5%] md:bottom-[86px] left-1/2 -translate-x-1/2 max-md:w-full px-4 z-50"
      id="payment-img"
    >
      <img
        src="images/thumbnail/payment-visa-card.png"
        alt="Hand Image"
        class="w-full relative z-50"
      />
    </div>
    <!-- 3 -->
    <div
      class="absolute top-[60%] lg:top-[50%] left-[10%] -translate-x-[10%] hidden md:block"
      id="badge-card-img"
    >
      <img
        src="images/thumbnail/badge-card-1.png"
        class="md:w-[70%] lg:w-[90%] xl:w-full"
        alt="Hand Image"
      />
    </div>
    <!-- 4 -->
    <div
      class="absolute top-[50%] 2xl:top-[45%] left-[19%] 2xl:left-[29%] -translate-x-[29%] hidden md:block animate-pulse"
      id="arrow-shape-1"
    >
      <img src="images/icons/shape-arrow-1.svg" alt="Hand Image" />
    </div>
    <!-- 5 -->
    <div
      class="absolute bottom-[20%] right-[5%] lg:right-[10%] 2xl:right-[22%] -z-10 lg:-translate-x-[22%] hidden md:block animate-bounce"
      id="arrow-shape-2"
    >
      <img src="images/icons/shape-arrow-2.svg" alt="Hand Image" />
    </div>
    <!-- 6 -->
    <div
      class="absolute bottom-[2%] md:-right-[7%] lg:right-[1%] 2xl:right-[7%] 2xl:-translate-x-[7%] hidden md:inline-block"
      id="badge-card-2-img"
    >
      <img
        src="images/thumbnail/badge-card-2.png"
        class="md:w-[70%] lg:w-[90%] xl:w-full"
        alt="Hand Image"
      />
    </div>
    <!-- 7 -->
    <div class="absolute bottom-[0%] -z-10 right-[0%]" id="background-bg">
      <img
        src="images/thumbnail/payment-section-background.png"
        alt="Hand Image"
      />
    </div>

    <!-- 8 -->
    <div class="absolute bottom-0 left-1/2 -translate-x-1/2" id="blur-bg">
      <img src="images/thumbnail/blur-bg.png" alt="Hand Image" />
    </div>

    <!-- content -->
    <div class="text-center pt-[94px]">
      <!-- Status Badge -->
      <div
        class="border border-[#E8EDE8] bg-primary inline-block rounded px-2.5 py-[3px] mb-2.5 reveal-me"
      >
        <span class="text-sm font-medium leading-[1.6] text-[#575757]reveal-me"
          >Banking Cards</span
        >
      </div>
      <h2 class="mb-4 md:mb-6 max-md:w-[300px] max-md:mx-auto reveal-me">
        Safe and Secure Banking Cards
      </h2>
      <p
        class="max-md:text-sm sm:max-w-md lg:max-w-[784px] mx-auto text-center reveal-me"
      >
        Secure platforms like Signal, Proton Mail, and Matrix-based messaging
        apps uphold strong encryption standards. Additionally, self-destructing
        messages and anonymous sender options add an extra layer of privacy.
        Avoiding centralized services that store user data.
      </p>
    </div>
  </div>
</section>
