<!-- First load GSAP core -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

<!-- Then load ScrollTrigger plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

<!-- HeadRoom cdn -->
 <script src="https://cdn.jsdelivr.net/npm/headroom.js@0.12.0/dist/headroom.min.js"></script>
 
<!-- Then load Lenis -->
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>

<!-- Finally load your main script -->
<script>
    // Register ScrollTrigger plugin before using it
    gsap.registerPlugin(ScrollTrigger);
</script>
<script src="js/script.js"></script>

</body>
</html>