// Base Styles
// -----------
body {
  @apply max-w-[100vw] overflow-x-hidden m-0 p-0 antialiased font-Inter bg-primary;
}

// Lenis Smooth Scroll
// ------------------
html.lenis {
  @apply h-auto;
}

.lenis {
  &.lenis-smooth {
    @apply scroll-auto;

    &[data-lenis-prevent] {
      @apply overscroll-contain;
    }
  }

  &.lenis-stopped {
    @apply overflow-hidden;
  }

  &.lenis-scrolling iframe {
    @apply pointer-events-none;
  }
}

// Navbar Hover --------
.underline-hover {
  @apply relative overflow-hidden pb-[1.5px] before:absolute before:bottom-0 before:left-0 before:h-[1.9px] before:w-full before:origin-right before:scale-x-0 before:bg-[#21A90A]  before:transition-transform before:duration-700 duration-700 before:content-[''] before:hover:origin-left before:hover:scale-x-100;
}

.reveal-me-2 {
  .line {
    @apply overflow-hidden text-inherit;
    span {
      @apply text-inherit;
    }
    .word {
      @apply text-inherit;
    }
  }
}

.reveal-me {
  @apply overflow-hidden;
}

// HeadRoom Css
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500000000000;
  will-change: transform;
  transition: transform 400ms linear;
  background-color: white;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
